<h1><%= _('Administrator Panel') %></h1>

<h2><%= _('System settings') %></h2>

<table>
  <tr><td><%= link_to _('Environment settings'), :action => 'site_info' %></td></tr>
  <tr><td><%= link_to _('Features'), :controller => 'features' %></td></tr>
  <tr><td><%= link_to _('Plugins'), :controller => 'plugins' %></td></tr>
  <tr><td><%= link_to _('Appearance'), :controller =>'environment_themes' %></td></tr>
  <tr><td><%= link_to _('Sideboxes'), :controller => 'environment_design'%></td></tr>
  <tr><td><%= link_to _('Homepage'), :action => 'set_portal_community' %></td></tr>
  <tr><td><%= link_to _('Licenses'), :controller =>'licenses' %></td></tr>
  <tr><td><%= link_to _('Trusted sites'), :controller =>'trusted_sites' %></td></tr>
</table>

<h2><%= _('Profiles') %></h2>

<table>
  <tr><td><%= link_to _('User roles'), :controller => 'role' %></td></tr>
  <tr><td><%= link_to _('Users'), :controller => 'users' %></td></tr>
  <tr><td><%= link_to _('Profile templates'), :controller => 'templates' %></td></tr>
  <tr><td><%= link_to _('Fields'), :controller => 'features', :action => 'manage_fields' %></td></tr>
</table>


<%
  plugin_links = @plugins.dispatch(:admin_panel_links)
%>
<% unless plugin_links.empty? %>
  <h2><%= _('Plugins') %></h2>
  <table>
  <% plugin_links.each do |link| %>
    <tr><td><%= link_to link[:title], link[:url] %></td></tr>
  <% end %>
  </table>
<% end %>

<h2><%= _('Enterprise-related settings') %></h2>

<table>
  <tr><td><%= link_to _('Message for disabled enterprises'), :action => 'message_for_disabled_enterprise' %></td></tr>
  <tr><td><%= link_to _('Validators by region'), :controller => 'region_validators' %></td></tr>
  <tr><td><%= link_to _('Categories'), :controller => 'categories'%></td></tr>
</table>
