<h1><%= _('Joining %s') % profile.name %></h1>

<p>
<%= _('Are you sure you want to join %s?') % profile.name %>
</p>

<%= form_tag do %>
  <%= hidden_field_tag('back_to', @back_to) %>
  <%= hidden_field_tag(:confirmation, 1) %>
  <%= submit_button(:ok, _("Yes, I want to join.") % profile.name) %>
  <% if logged_in? && request.xhr? %>
    <%= lightbox_close_button(_("No, I don't want")) %>
  <% else %>
    <%= button(:cancel, _("No, I don't want."), profile.url) %>
  <% end %>
<% end %>
